.sidebar {
    padding: 24px 16px 56px 16px;
    width: 25vw;
    height: 100dvh;
    max-height: 100dvh;
    background-color: #F5F5FF;
    overflow: auto;
}

.sidebar-icon {
    position: fixed;
    left: 24px;
    z-index: 1000;
    bottom: 32px;
}

.reset-forms-btn {
    background: transparent;
    text-align: right;
    width: 100%;
    padding-bottom: 8px;
    font-size: 14px;
    color: gray;
    font-weight: 500;
}

.reset-forms-btn:hover {
    text-decoration: underline;
}

.form-section {
    padding: 12px;
    margin-bottom: 12px;
    border: 1px solid #ddd;
}

.form, .form-section {
    border-radius: 12px;
}

.form {
    padding: 24px 12px;
    background-color: white;
}

.form-title {
    padding-bottom: 12px;
    font-size: 18px;
    font-weight: bold;
    color: var(--primary-color);
}

.form-label {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}

.form-label span {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: var(--primary-color);
    font-size: 14px;
}

.form-input {
    padding: 8px;
    border-radius: 4px;
    background-color: #F5F5FF;
    color:var(--primary-color);
}

.form-input::placeholder{
    color:#A49CFF;
    font-size: 13px;
}

.form-input:focus {
    border-color: #F5F5FF;
    outline: none;
    box-shadow: 0 0 4px rgba(0, 123, 255, 0.25);
}

.form-submit {
    padding: 8px 16px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
}

.form-submit:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.form-submit:hover:not(:disabled) {
    background-color: #0056b3;
}

.form-checkbox {
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 4px;
    margin-bottom: 12px;
 
  }
  .form-checkbox span {
    color: gray;
    font-size: 14px;
    font-weight: 500;
  }

  .custom-checkbox {
    display: inline-block;
    width: 22px;
    height: 20px;
    border-radius: 3px;
    position: relative;
    background: lightgray;
  }
  
  input[type="checkbox"]:checked ~ .custom-checkbox {
    background: var(--primary-color);
  }
  
  input[type="checkbox"]:checked ~ .custom-checkbox::after {
    content: '';
    position: absolute;
    inset:0;
    margin: auto;
    width: 4px;
    height: 12px;
    top: -5px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }
  